/* * {
    box-sizing: border-box;
    color: #ccc;
}




body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: black;
}
.wrapper{
    width: 500px;
}

button{
    padding: 10px 20px;
border-radius: 10px;
color: blueviolet;
}


input{
padding: 10px;
border-radius: 10px;
}

#qrcode-container{
    display: flex;
flex-wrap: wrap;
}


.image-container {
    width: 300px;
    margin: 50px auto;
}
.image-container img {
    width: 100%;
    transition: transform 0.3s ease-in-out;
}


.dropdown-item li{
    color: blue;
} */


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}
header {
    background-color: #4CAF50;
    color: white;
    padding: 1em 0;
}
.logo {
    display: inline-block;
    margin-left: 20px;
}
nav {
    display: inline-block;
    float: right;
    margin-right: 20px;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
nav ul li {
    display: inline;
    margin-left: 20px;
}
nav ul li a {
    color: white;
    text-decoration: none;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #ddd;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.card {
    background-color: #f9f9f9;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: calc(25% - 40px);
    float: left;
    box-sizing: border-box;
}
.slider {
    position: relative;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
}
.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.slides img {
    width: 100%;
    border-radius: 5px;
}
footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em 0;
    clear: both;
}