*{
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #3983c9;
    margin: 0;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 80rem;
}

.cols {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 
}

.col {
    width: 200px;
    margin: 15px;
    perspective: 1000px;
}

.container {
    position: relative;
    width: 100%;
    height: 200px;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    cursor: pointer;

}

.container:hover {
    transform: rotateY(180deg);
}
.front {
    background-image: url('https://pixewall.com/wp-content/uploads/2024/03/marble79918920037-768x432.jpg');
    background-position: center; /* Центрирует изображение по горизонтали и вертикали */
    background-size: cover; /* Растягивает изображение так, чтобы покрыть весь элемент */
    background-repeat: no-repeat; /* Избегает повторения изображения */
    
  }


.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border: 1px solid #cababa;
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 20px;
}

.back {
    transform: rotateY(180deg);
    background: linear-gradient(to right, rgb(90, 91, 92), rgb(105, 105, 218));
}

.front .inner span {
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;
}

.front .inner p {
    font-size: 2rem;
    margin-bottom: 2rem;
    position: relative;
}

.front .inner p::after {
    content: "";
    width: 4rem;
    height: 2px;
    position: absolute;
    background: #c6d4df;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -0.75rem;
}

























/* body{
    background-color: aqua;
}



.wrapper{
    width: 90%;
    margin: 0 auto;
    max-width: 80rem;
}
.cols{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

}
.front .inner span{
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;
}
.front .inner p{
    font-size: 2rem;
    margin-bottom: 2rem;
    position: relative;
}
.front .inner p::after{
    content: "";
    width: 4rem;
    height: 2px;
    position: absolute;
    background: #c6d4df;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -.75rem;
}
 */
