body{
background-image: url("1.jpg");
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    overflow-x: hidden;

box-sizing: border-box;
}

/* video{
    max-width: 100%;
    height: auto;
} */

.wrapper{
    /* position: relative; */
display: flex;
justify-content: center;
margin-top: 100px;
}

.wrapper ul{

list-style: none;
}

.wrapper ul li{
margin-top: 20px;
text-decoration: none;
background-color: rgb(63, 62, 62, 0.2);
padding: 20px;
border-radius: 10px;
transition: 2s;

}
.wrapper ul li:hover{
    background-color: rgb(63, 62, 62, 0.5);
}




/* 
.btn{
    border-radius: 10px;
    background-color: black;
    color: azure;
    cursor: pointer;
    padding: 10px 20px;

    position: absolute;
    content: "";
    top: 50%;
    left: 50%;

} */