* {
    box-sizing: border-box;
    color: #ccc;
}




body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: black;
}
.wrapper{
    width: 500px;
}

button{
    padding: 10px 20px;
border-radius: 10px;
color: blueviolet;
}


input{
padding: 10px;
border-radius: 10px;
}

#qrcode-container{
    display: flex;
flex-wrap: wrap;
}


.image-container {
    width: 300px;
    margin: 50px auto;
}
.image-container img {
    width: 100%;
    transition: transform 0.3s ease-in-out;
}