* {
    box-sizing: border-box;
    color: rgb(210, 248, 248);
}

body {
    background-image: url("star_wars.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin-left: 40px;
    padding: 0;
    width: 100%;
    height: auto;
    overflow-x: hidden;
    box-sizing: border-box;
}



.wrapper {
    max-width:  700px;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.wrapper ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 10px;
}

.wrapper ul li {
    margin-top: 20px;
    text-decoration: none;
    background-color: rgba(200, 198, 198, 0.2);
    padding: 10px;
    border-radius: 10px;
    transition: 0.5s;

}

.wrapper ul li:hover {
    background-color: rgba(44, 43, 43, 0.5);
}

h2{
    margin-top: 60px;
}



