* {
    box-sizing: border-box;
    color: #c0d839;
}




body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;


    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}



.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    background-color: rgba(7, 7, 7, 0.9);
}


#result {

    margin-top: 100px;
    padding: 20px;
    border-radius: 10px;
}

#result p {

    filter: drop-shadow(4px 4px 9px #df8b67);

    font-weight: 900;
    font-size: 30px;

}

#result p:hover {
    color: #e79e16;
}


h1 {
    margin: 50px 0;
    font-size: 50px;
    filter: drop-shadow(4px 4px 3px #E88D67);
}

#findIpButton {
    border-radius: 9999px;
    padding: 16px 32px;
    /* 1rem = 16px, 2rem = 32px */
    font-weight: bold;
    background: none;
    position: relative;
    border: 4.8px solid;
    /* 0.30rem = 4.8px */
    color: inherit;
    font-family: inherit;
    font-size: 24px;
    /* 1.5rem = 24px */
    transition: 1s;
}

#findIpButton:hover {
    cursor: pointer;
    color: #08eb26;
    transition: 1s;
}

#findIpButton::before {
    content: "Знайшов";
    color: #1e21e2;
    font-size: 48px;
    /* 3rem = 48px */
    padding-left: 8px;
    /* 0.5rem = 8px */
    position: absolute;
    inset: 0;
    transform: translateX(12px) translateY(8px) rotateZ(-7deg) skewX(-10deg);
    /* 0.75rem = 12px, 0.5rem = 8px */

    /* deg (скорочення від "degree", що означає "градус") - це одиниця вимірювання, яка використовується для кутових значень у CSS трансформаціях.
     Вона вказує кут повороту елемента. Ось як це працює:

    rotateZ(-7deg): це означає, що елемент буде повернутий навколо осі Z на -7 градусів (у напрямку проти годинникової стрілки).
    В CSS deg використовується для специфікації кутів в трансформаціях, таких як rotate, skew, тощо. Ось кілька прикладів:
    
    rotate(45deg): повертає елемент на 45 градусів за годинниковою стрілкою.
    rotate(-45deg): повертає елемент на 45 градусів проти годинникової стрілки.
    skewX(10deg): нахиляє елемент на 10 градусів по осі X.
    skewY(-10deg): нахиляє елемент на -10 градусів по осі Y.
    Таким чином, у вашому CSS коді:
    
    css
    Копіювати код
    
    transform: translateX(12px) translateY(8px) rotateZ(-7deg) skewX(-10deg);
    це означає, що елемент буде переміщений на 12 пікселів по осі X, на 8 пікселів по осі Y,
     повернутий на -7 градусів (проти годинникової стрілки) і нахилений на -10 градусів по осі X. */





    background-color: #0953f3;
    z-index: -2;
    border-radius: 22.4px;
    /* 1.4rem = 22.4px */
    border-bottom-right-radius: 16px;
    /* 1rem = 16px */
    border-bottom-left-radius: 36px;
    /* 2.25rem = 36px */
    border-top-left-radius: 20px;
    /* 1.25rem = 20px */
    border: 80px solid #E88D67;
    /* 5rem = 80px */
    border-top: 0 solid transparent;
    border-left: 0 solid transparent;
    transition: 1s;
}

#findIpButton:hover::before {
    color: #006989;
    transform: translateX(0) translateY(-8px) rotateZ(0deg) skewX(0) scaleX(25.25) scaleY(0.5);
    /* -0.5rem = -8px */
    border-radius: 4px;
    /* 0.25rem = 4px */
    border-color: #006989;
    border-bottom-right-radius: 3.2px;
    /* 0.2rem = 3.2px */
    border-bottom-left-radius: 3.2px;
    /* 0.2rem = 3.2px */
    border-top-left-radius: 3.2px;
    /* 0.2rem = 3.2px */
    background-color: #006989;
    transition: 1s;
}