body {
    display: flex;
    flex-direction: column;    
}

.no-scroll {
    overflow: hidden;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
    z-index: 9999;    
}

#preloader img {
    width: 100%;
    height: 100%;
    object-fit: cover;    
}

.wrapper {
    display: none;    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

img {
    width: 30px;
    height: 30px;
}

.header {
    position: fixed;
    z-index: 10;
    width: 100%;   
    padding: 5px;
    text-align: center;
    display: inline-block;
    background-color: #e4e0e0d0;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;  
}

.header__item a {
    text-decoration: none; 
}

.logo_name { 
    display: flex;
    flex-direction: column;      
}

.logo_title {
    color: brown;
    font-size: 30px;
    font-weight: 900;
}

.logo_subtitle {
    color: black;
    font-size: 15px;
    font-weight: 700;
}

#btn {
    padding: 10px 20px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    background-color: rgb(194, 186, 186);
    transition: 0.5s;
    border: 1px solid rgb(178, 247, 164);
}

#btn:hover {
    background-color: rgb(215, 248, 201);
}

/* ----------------------------------main----------------------- */

.main {  
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    background-image: url("../img/reseption.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;    
    width: 100%;
    height: 100vh;
}

video {
    width: 250vh;   
    height: auto;
}

.none {
    display: none;
}

/* -------------------------- loginForm--------------------------------- */

#login_inner {
    position: absolute;
    top: 20%;
    left: 40%;
    padding: 50px;
    background-color: #e4e0e020;
    border-radius: 10px;
}

#loginForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#loginForm input {
    box-sizing: border-box;
    padding: 5px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid rgb(56, 252, 193);
}

#loginForm button {
    padding: 10px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    color: rgb(179, 7, 7);
    transition: 0.5s;
}

#loginForm button:hover {
    background-color: #b9b4b4;
}

/* --------------------------------------------- */

.inner {   
    width: 90%;
}

#filterForm {
    width: 90%;
    margin-top: 100px;    
    border-radius: 30px;
    padding: 10px 15px;
    background-color:#e4e0e0d0;
    display: flex;
    justify-content: space-around;
}

.input {
    padding: 10px 15px;
    border-radius: 10px;
    border: 2px solid rgb(210, 243, 197);
}

#searchTitle,
#status,
#urgencyLevels,
#btn__form {
    color: rgb(129, 125, 125);
    font-size: 15px;
    font-weight: 700;
    padding: 10px 15px;
    border-radius: 10px;
    border: 2px solid #7dc572;
}

#btn__form {    
    cursor: pointer;
    transition: 2s;
}

#btn__form:hover {
    background-color: #d6f8c6;
    color: rgb(225, 208, 208);
}

#status,
#urgencyLevels,
option:hover {
    background-color: #e2dddd;
}

#status,
#urgency option:selected {
    background-color: #f49079;
    color: #fff;
    padding: 10px;    
}

/* ------------------------Create-------------------------------- */
.infoCard{
    font-weight: 700;
    font-size: 20px;
    color: green;
}

.createInner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;  
}

.createCard {
    font-weight: bolder;
    font-size: 16px;
    padding: 10px;
    margin: 20px;    
    border-radius: 10px;
    cursor: pointer;
    background-color: #7dc572;
    transition: 0.5s;
}

.createCard:hover {
    background-color: rgb(97, 194, 162);
}

.submitCreate {
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #7dc572;
    transition: 0.5s;
}

.submitCreate:hover {
    background-color: rgb(97, 194, 162);
}

.create {
    display: flex;
    width: 1200px;
    gap: 10px;
    background-color: #e4e0e0d0;
    padding: 20px;
    border-radius: 20px;
}

#modalCreateVisit {
    border: 1px solid rgb(23, 160, 45);  
    background-color: rgb(214, 214, 239); 
    padding: 0 40px;
    border-radius: 10px;
    position: relative;
}

.close {
    position: absolute;
    right: 10px;
    top: 10px;
    border: 2px solid #f180b9;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    cursor: pointer;
    transition: 0.5s;
}

.close:hover {
    background-color: #f0d7d1;
}

.close svg {
    margin: auto;
    fill: #f1a2c0;
}

#additionalFields {
    display: flex;
    gap: 7px;
    flex-direction: column;
    align-items: center;
}

.innerItem {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;   
}

#visitForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 5px;
}

#createVisitForm {    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;    
    box-sizing: border-box;
    padding: 20px;
}

#createVisitForm input {
    margin: 10px;
    padding: 5px 10px;
    border-radius: 10px;
}

.visitCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid rgb(24, 199, 48);
    background-color: rgb(226, 226, 201);
    border-radius: 10px;
    padding: 15px 10px;
    margin: 0 5px;
    min-height: 250px;
    cursor: pointer;
    position: relative;
    color: black;
    font-size: 20px;
    font-weight: 700;
}

.visitCard select {
    width: 70px;
}

.visitCard p {
    color: black;
    font-size: 18px;
    font-weight: 500;
    line-height: 16px;
}

/* ----------------------------------------------------------------- */
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("../img/reseption.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 3;    
}

.modal__body {
    margin: auto;
    max-width: 30vw;
    padding: 40px;
    background-color: #91676799;
    border-radius: 16px;
    z-index: 3;
    top: 30%;
    right: 0;
    position: relative;
}
.modal__body p{
    margin-bottom: 10px;
}

.modal__close {
    position: absolute;
    right: 20px;
    top: 20px;
    border: 2px solid #f82790;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    cursor: pointer;
    transition: 0.5s;
}
.modal__close:hover{
    background-color: #f0d7d1;
}

.modal__close svg {
    margin: auto;
    fill: #f7699f;
}

.modal__img {
    object-fit: cover;
    object-position: top center;
}

.modal__name {
    margin-top: 0;
    margin-bottom: 20px;
    position: relative;
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
}

.modal__point {
    margin-top: 0;
    margin-bottom: 0;
    color: rgba(255, 255, 255, 0.75);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}

.modal__description {
    margin-top: 20px;    
    color: #fff;
    font-size: 26px;
    font-weight: 500;
    line-height: 1.5;
}

.show-more {
    background-color: #e2dddd;
}


/* ----------------------footer---------------------- */


