* {
    box-sizing: border-box;
    color: #ccc;
}




body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: black;
}

.no-scroll {
    overflow: hidden;
}
#cards-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card {
    margin: 0 auto;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    width: 80%;
    position: relative;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    cursor: pointer;
    gap: 10px;
}

.card img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.cards-items{
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.card h3 {
    margin: 0 0 10px;
    text-align: center;
}

.card p {
    margin: 5px 0;
    text-align: center;
}
.user-name{
    margin-right: 10px;
}
.user-name::after{
    content: url("1.png");

width: 20px;
height: 30px;

    /* top: 0;
    right: 0px; 
    position:absolute; */
}

.delete-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: red;
    font-size: 18px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    max-width: 500px;
    width: 90%;
    background-color: rgba(0, 0, 0);

}

.modal-content h3 {
    margin-top: 0;
}

.close-btn {
    cursor: pointer;
    color: red;
    font-size: 18px;
}

















/* 

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}
.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    width: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card img {
    max-width: 80px;
    height: 80px;
    border-radius: 5px;
    margin-bottom: 10px;
    border-radius: 50%;
    
}
.card h3 {
    margin: 0 0 10px;
    text-align: center;
}
.card p {
    margin: 5px 0;
    text-align: center;
}
.delete-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: red;
    font-size: 18px;
}
 */

































/* 
body {
    background-image: url("star_wars.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin-left: 40px;
    padding: 0;
    width: 100%;
    height: auto;
    overflow-x: hidden;
    box-sizing: border-box;
}



.wrapper {
    max-width:  700px;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.wrapper ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 10px;
}

.wrapper ul li {
    margin-top: 20px;
    text-decoration: none;
    background-color: rgba(200, 198, 198, 0.2);
    padding: 10px;
    border-radius: 10px;
    transition: 0.5s;

}

.wrapper ul li:hover {
    background-color: rgba(44, 43, 43, 0.5);
}

h2{
    margin-top: 60px;
}


 */